{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}
<h1>
    <a href="{{ object.get_absolute_url }}">{{ object.name }}</a> management panel
</h1>
{% endblock %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    {{ formset.management_form }}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th><th>Score</th><th></th><th></th><th></th>
            </tr>
        </thead>
        <tbody>
            {% for form in formset %}
                <tr>
                    {% for field in form %}
                        <td>{% bootstrap_field field layout='inline' %}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% buttons %}
        <input type="submit" class="btn btn-primary form-control" value="Submit changes" />
    {% endbuttons %}
</form>

{% endblock %}
