{% extends 'base.html' %}

{% block title %}
<h1>
	<a href="{{ group.get_absolute_url }}">{{ group.name }}</a> suggested teams
</h1>
{% endblock %}

{% block content %}

<p>
	<a class="btn btn-primary form-control" href="javascript:history.go(0)">Reshuffle</a>
</p>
<div class="row" id="players">
	{% for team in teams %}
	<div class="col-lg-3 col-md-4 col-sm-12 list-group">
		<a class="list-group-item active">Team {{ forloop.counter }}</a>
		{% for player in team %}
		<a class="list-group-item">{{ player.name }}</a>
		{% endfor %}
	</div>
	{% endfor %}
</div>

{% endblock %}
