{% extends 'base.html' %}

{% block title %}
<a href="{{ team.get_absolute_url }}">{{ team.name }}</a> suggested groups
{% endblock %}

{% block content %}

<p>
	<a class="btn btn-primary form-control" href="javascript:history.go(0)">Reshuffle</a>
</p>
{% for group in groups %}
	<div class="list-group">
		<a class="list-group-item active">Group {{ forloop.counter }}</a>
		{% for player in group %}
			<a class="list-group-item">{{ player.name }}</a>
		{% endfor %}
	</div>
{% endfor %}

{% endblock %}