{% extends 'base.html' %}

{% block title %}
<h1>Welcome to Xteams!</h1>
<p class="lead"><em>Create teams automatically based on discrete scores of the players</em></p>
{% if user.is_authenticated %}
    <p>
        <a class="btn btn-primary" href="{% url 'teams:create' %}">Create new team</a>
    </p>
{% endif %}
{% endblock %}

{% block content %}

<div class="list-group" id="teams">
    {% for team in user_teams %}
        <a class="list-group-item" href="{{ team.get_absolute_url }}">
            {{ team.name }}<span class="badge">Managed</span>
        </a>
    {% endfor %}
    {% for team in rest_teams %}
        <a class="list-group-item" href="{{ team.get_absolute_url }}">
            {{ team.name }}
        </a>
    {% endfor %}
</div>

{% endblock %}
