{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}
<h1>
    {{ team.name }}
</h1>
{% if user in team.managers.all %}
    <p><a class="btn btn-lg btn-primary" href="{% url 'teams:manage' pk=team.pk %}">Manage</a></p>
{% endif %}
{% endblock %}

{% block content %}

{% verbatim %}
<div id="counters">
    <span>{{ on_the_court_counter }}</span> <span>{{ arrived_counter }}</span>
</div>
{% endverbatim %}

<form action="{% url 'teams:groups' pk=team.pk %}" class="form">
    {% buttons %}
        <button type="submit" class="btn btn-primary form-control">Create teams!</button>
    {% endbuttons %}
    {% bootstrap_form form %}
</form>

<div id="players" class="row">

    {% verbatim %}
    <div v-for="list in lists">
        <div class="col-md-4 list-group">
            <a class="list-group-item active {{ list.color }}">{{ list.name }}</a>
            <a v-for="player in list.players | orderBy 'name'" class="list-group-item clearfix">
                {{ player.name }}
                <span v-for="button in list.buttons">
                    <p v-on:click="moveTo(player, list.id, button.newState)"
                       class="{{ button.class }} btn btn-xs pull-right margins">
                      {{ button.text }}
                    </p>
                </span>
            </a>
        </div>
    </div>
    {% endverbatim %}

</div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        var starting_players = {
          on_the_court: [
            {% for player in on_the_court %}
                { pk: {{ player.pk }}, name: "{{ player.name }}" },
            {% endfor %}
          ],
          on_the_bench: [
            {% for player in on_the_bench %}
                { pk: {{ player.pk }}, name: "{{ player.name }}" },
            {% endfor %}
          ],
          gone_home: [
            {% for player in gone_home %}
                { pk: {{ player.pk }}, name: "{{ player.name }}" },
            {% endfor %}
          ]
        };
    </script>
    <script src="{% static 'js/change_player_state.js' %}"></script>
{% endblock %}
