{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}
Please register
{% endblock %}

{% block content %}

<div class="well">
    Most of the features of this app are available for unregistered users too. But if you want to add and manage your team here you will have to register bellow.
</div>

<form method="POST" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <input type="submit" class="btn btn-primary" value="register" />
    {% endbuttons %}
</form>

{% endblock %}
