{% extends "base.html" %}

{% block title %}
<h1>Hi everybody</h1>
{% endblock %}

{% block content %}

<div>
  <h2>Say what?!?</h2>
  <p>
    You want to create teams, but:
  </p>
  <ol>
    <li>
      How can one create teams when Dana doesn't want to play with Haim, who must play with Jacob but not with Yossi... You've got the idea.
    </li>
    <li>
      No one will ever want to help creating teams as they might end up insulting a not-so-good player by choosing them last.
    </li>
    <li>
      Maybe you have too many players around for one game, but just enough for a tournament of 4 teams.
    </li>
  </ol>
  <p>
    Xteams aim to solve these issues with one goal in mind: <b>Create teams automatically based on discrete scores of the players</b>
  </p>
  <p>
    Using Xteams, group managers can give scores to players discretely on the management panel. Players of the group can't access this panel but can see the list of players, choose who's up for playing and create teams easily.
  </p>
</div>
<div>
  <h2>Get in touch</h2>
  <p>
    If you like this project and have some questions or other inquiries feel free to drop me a message at <a href="mailto:nagasaki45@gmail.com">nagasaki45@gmail.com</a>.
  </p>
</div>
<h2>For developers</h2>
<div>
  Any help in improving this site is always welcome. Feel free to fork the code <a href="https://github.com/Nagasaki45/Xteams">@ github</a> and contribute.
</div>

{% endblock %}
