{% extends "base.html" %}

{% block title %}
<h1>Hi everybody</h1>
{% endblock %}

{% block content %}

<div>
  <p>
    You want to create teams, but:
  </p>
  <ol>
    <li>
      How can one create teams when Dana doesn't want to play with Haim, who must play with Jacob but not with Yossi... You've got the idea.
    </li>
    <li>
      No one will ever want to help in creating teams as he may end up insulting a not-so-good player by choosing him last.
    </li>
    <li>
      Maybe you have too many players around for one game, but just enough for a tournament of 4 teams.
    </li>
  </ol>
  <p>
    Xteams aim to solve these issues with one goal in mind:
    <br />
    <i><b>Create teams automatically based on discrete scores of the players</b></i>
  </p>
  <p>
    Using Xteams, group managers can give scores to players in the management panel. Players of the group can't access this panel but can see the list of players, mark which of them arrived to the game and create teams easily.
  </p>
  <p>
    You are always welcome to <a href="{% url 'contact' %}">contact us</a> in any question.
  </p>
</div>
<h2>For developers</h2>
<div>
  Any help in improving this site is always welcome. Feel free to fork the code <a href="https://github.com/Nagasaki45/Xteams">@ github</a> and contribute.
</div>

{% endblock %}
