#counters {
    /* positioning */
    position: fixed;
    top: 55px;
    left: 5px;
    z-index: 99;

    /* background */
    background-image: url('/static/images/counters.png');
    width: 70px;
    height: 70px;
    background-size: contain;

    /* text */
    font-family: Courier;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
    font-size: 20px;
}

.margins {
    margin-right: 2px;
    margin-left: 2px;
}

#players {
    margin-left: 0px;
}

/* list headers, based on bootstrap buttons colors */
.list-group-item.active.green {
    background-color: #5CB85C;
    border-color: #4CAE4C;
}

.list-group-item.active.orange {
    background-color: #F0AD4E;
    border-color: #EEA236;
}

.list-group-item.active.red {
    background-color: #D9534F;
    border-color: #D43F3A;
}
